body{
    
    background: rgb(22, 29, 49);
  
}
.star {
    z-index: -3;
    animation: kirakira 8s linear;
    color: #434852;
    display: inline-block;
    height: .2em;
    line-height: .2em;
    position: fixed;
    top: -1em;
    z-index: 1000;
}

@keyframes kirakira {
    0% {
        transform:translateY(0) rotateY(0);
    }
    100% {
        transform:translateY(calc(100vh + 1em)) rotateY(3600deg);
    }
}